body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: rgb(44, 41, 38);
}

a{
   text-decoration: none; 
}

#main-header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(29, 26, 24);
    padding: 0 20px;
}

#header-logo{
    font-size: 24px;
    font-weight: bold;
    color: rgb(238, 164, 80);
    text-transform: uppercase;
}

#main-header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

#main-header li{
    margin: 0 16px;
}

#main-header nav a{
    color: rgb(185, 131, 31);
    font-size: 20px;
    border-radius: 5px;
}

#main-header nav a:hover{
    color: rgb(228, 163, 44);
}

main h1{
    text-align: center;
    color: rgb(238, 164, 80);
    font-size: 38px;
}

#latest-products{
    width: 80%;
    margin: 50px auto;
}

#latest-products ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.food-item{
    background-color: rgb(228, 206, 182);
    border-radius: 5px;
    overflow: hidden;
}

.food-item img{
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.food-item-content{
    padding: 16px;
    text-align: center;
}

.btn{
    background-color: rgb(228, 157, 77);
    color: white;
    border-radius: 4px;
    padding: 8px 24px;
}

.btn:hover{
    background-color: rgb(221, 134, 34);
}


/* body{
    font-family: Quicksand, sans-serif;
    margin: 0;
    background-color: rgb(39, 37, 37);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
}

a{
   text-decoration: none; 
}
#header-logo{
    text-transform: uppercase;
}

header a{
    text-decoration: none;
    color: rgb(233, 111, 12);
    font-size: 16px;
    padding: 8px;
    text-shadow: 1px 1px 1px rgb(0,0,0);
}

#header-logo a{
    font-size: 25px;
}

header ul{
    display: flex;
}

header li{
    margin-left: 20px;
}

header nav a:hover{
    background-color: rgb(233, 111, 12);
    color: rgb(39, 37, 37);
    border-radius: 8px;
}

section h1{
    color: rgb(233, 111, 12);
    font-size: 30px;
    text-shadow: 1px 1px 1px rgb(0,0,0);
    text-align: center;
}

li img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.food-menu{
    width: 300px;
    background-color: rgb(223, 195, 118);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgb(0,0,0);
    margin: 0 auto;
    text-align: center;
}

.food-menu h2{
    margin: 0px;
    font-size: 16px;
    margin-bottom: 10px;
}

.btn-action{
    background-color: rgb(233, 111, 12);
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 2px 2px 2px rgba(0, 0, 255, .2);
}

.btn-action:hover{
    background-color: rgb(39, 37, 37);
}

section ul{
    display: flex;
    justify-content: center;
}

section li{
    margin: 0 20px;
} */